#payment-content-ct{
    padding-bottom: 50px;
}
#nap-coin{
    color: aqua;
    background: black;
    border-radius: 5px 5px 5px 5px;
    width: 150px;
    height: 40px !important;
    line-height: 40px;
    text-align: center;
    margin-left: 100px;
}
#nap-coin:hover{
    color: orangered;
}
#mua-kc{
    color: aqua;
    background: black;
    border-radius: 5px 5px 5px 5px;
    width: 150px;
    height: 40px !important;
    line-height: 40px;
    text-align: center;
    margin-left: 100px;
}
#mua-kc:hover{
    color: orangered;
}
#btn-nap-coin{
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: bolder;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    transition: 1s;
    background: #e1e6df;

}
.nap-coin-active{
    color: rgb(12, 12, 11);
    background: #00bf58 !important;

}
#btn-mua-kc{
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: bolder;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    transition: 1s;
    background: #e1e6df;

}
.mua-kc-active{
    color: rgb(12, 12, 11);
    background: #00bf58 !important;

}

#btn-payment{
    height: 80px;
    width: 150px;
    line-height: 10px;
    border: none;
    border-radius: 5px 5px 5px 5px;

}
#btn-kc{
    height: 80px;
    width: 155px;
    line-height: 0px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    background: #00bf58;
}
#atm-payment{
    height: 80px;
    width: 145px;
    line-height: 80px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    background: #e1e6df;
    margin-left: 90px;
}

#option-coin{
    height: 200px;
    line-height: 40px;
    font-weight: bolder;
    border: 1px solid;
    position: relative;
    border: none;
    box-shadow: black 1px 3px 3px 2px;
}
#option-kc{
    font-weight: bolder;
    border: 1px solid;
    position: relative;
    border-radius: 5px 5px 5px 5px;
}
#input-payment{
    width: 200px;
    height: 100px;
    text-align: right;
    position: absolute;
    bottom: 10px;
    border-radius: 5px 5px 5px 5px;
    z-index: 1;
}
#sum-price{
    width: 200px;
    height: 100px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 210px;
    border-radius: 5px 5px 5px 5px;
    border: rgb(109, 107, 107) 1px solid;
}
#sum-price h5{
    color: red;
}
#submit{
    width: 100%;
    height: 40px;
    background: #00bf58;
    border-radius: 5px 5px 5px 5px;
    border: rgb(109, 107, 107) 1px solid;
    font-weight: 600;
    margin-top: 4px;
}
.w3-modal-content{
    min-height: 200px;
    border-radius: 5px 5px 5px 5px;
    padding-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.w3-modal-content #title-submit{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    color: #00bf58;
}
.w3-modal-content #title-errors{
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    color: red;
}
.w3-modal-content #numbCoin-submit{
    margin-left: 30px;
    color: orangered;
}
.w3-modal-content #numbPrice-submit{
    margin-left: 125px;
    color: orangered;
}
.w3-modal-content #numbKC-submit{
    margin-left: 7px;
    color: orangered;
}
.w3-modal-content #numbCoinCurrent-submit{
    margin-left: 47px;
    color: rgb(47, 18, 231);
}
.w3-modal-content #numbCoinLast-submit{
    margin-left: 100px;
    color: rgb(47, 18, 231);
}
.w3-modal-content #info-atm-submit input{
    width: 500px !important;
    height: 40px;
    padding: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 5px 5px 5px 5px;

}
.w3-modal-content #confirm-submit input{
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-left: 370px;
    background: #00bf58;
    border-radius: 5px 5px 5px 5px;
    border: none;

}
  /* Landscape */
  @media only screen
  and (min-device-width: 390px)
  and (max-device-width: 896px)
  and (orientation: landscape) {
    #input-payment{
        width: 250px;
        height: 100px;
        text-align: right;
        position: absolute;
        bottom: 10px;
        left: 100px;
        border-radius: 5px 5px 5px 5px;
        z-index: 1;
    }
    #sum-price{
        width: 250px;
        height: 100px;
        text-align: center;
        position: absolute;
        bottom: 10px;
        left: 310px;
        border-radius: 5px 5px 5px 5px;
        border: rgb(109, 107, 107) 1px solid;
    }
    #btn-payment{
        margin-left: 30px;

    }
    #btn-kc{
        height: 80px;
        width: 155px;
    }
    #atm-payment{
        margin-left: 250px;
    }
    .w3-modal-content{
        min-height: 200px;
        border-radius: 5px 5px 5px 5px;
        padding-left: 10px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .w3-modal-content #title-submit{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-top: 10px;
    }
    .w3-modal-content #numbCoin-submit{
        margin-left: 30px;
        color: orangered;
    }
    .w3-modal-content #numbPrice-submit{
        margin-left: 125px;
        color: orangered;
    }
    .w3-modal-content #info-atm-submit input{
        width: 400px !important;
        height: 40px;
        padding: 5px;
        margin-top: 10px;
        border: none;
        border-radius: 5px 5px 5px 5px;

    }
    .w3-modal-content #confirm-submit input{
        height: 40px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-left: 180px;
        background: #00bf58;
        border-radius: 5px 5px 5px 5px;
        border: none;

    }

  }
  /* Portrait */
  @media only screen
  and (min-device-width: 390px)
  and (max-device-width: 896px)
  and (orientation: portrait) {

}

@media only screen
and (max-device-width: 390px) {
    .bo{
        display: none;
    }
    #input-payment{
        width: 150px;
        height: 80px;
        text-align: right;
        position: absolute;
        bottom: 10px;
        border-radius: 5px 5px 5px 5px;
        z-index: 1;
    }
    #sum-price{
        width: 150px;
        height: 80px;
        text-align: center;
        position: absolute;
        bottom: 10px;
        left: 160px;
        border-radius: 5px 5px 5px 5px;
        border: rgb(109, 107, 107) 1px solid;
    }
    #atm-payment{
        margin-left: 100px;
    }
    .w3-modal-content{
        min-height: 200px;
        border-radius: 5px 5px 5px 5px;
        padding-left: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .w3-modal-content #title-submit{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-top: 10px;
    }
    .w3-modal-content #numbCoin-submit{
        margin-left: 5px;
        color: orangered;
    }
    .w3-modal-content #numbPrice-submit{
        margin-left: 5px;
        color: orangered;
    }
    .w3-modal-content #info-atm-submit input{
        width: 300px !important;
        height: 40px;
        padding: 5px;
        margin-top: 10px;
        border: none;
        border-radius: 5px 5px 5px 5px;

    }
    .w3-modal-content #confirm-submit input{
        height: 40px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-left: 120px;
        background: #00bf58;
        border-radius: 5px 5px 5px 5px;
        border: none;

    }
}
